body {
    margin: 0;
}

.App {
    font-family: "Maitree", serif;
    text-align: center;
    color: #43a047;
}

h1 {
    margin-bottom: 0;
}

.heart {
    position: absolute;
}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.customCardContainer {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
}
.textPhoto {
    width: 16rem;
    position: absolute;
    align-self: end;
    color: #fdfdfd;
    margin-right: 0.6rem;
}
